<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello {{ currentUser['name'] }}</h1>
        <p class="text-white mt-0 mb-5">This is your profile page. Here you can update your contact and personal information</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="card-body pt-0 pt-md-4">
          <div class="text-center">
            <h3>
              {{currentUser['name']}}<span class="font-weight-light">, {{currentUser['age']}}</span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{currentUser['identification']}}
            </div>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{currentUser['location']}}
            </div>
            
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>{{currentUser['role']}}
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>{{currentUser['branch']}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div *ngIf="isSuccess" class="alert alert-success" role="alert">
          User updated success!
        </div>
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
            <div class="col-4 text-right">
              <a class="btn btn-sm btn-primary" (click)="handleUpdate()">Update</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Personal information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-identification">Identification</label>
                    <input type="text" [(ngModel)]="identification" id="input-identification" class="form-control form-control-alternative" placeholder= 'Identification'>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-password">Password</label>
                    <input type="text" [(ngModel)]="password" id="input-password" class="form-control form-control-alternative" placeholder="Password">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">First name</label>
                    <input type="text" [(ngModel)]="firstName" id="input-first-name" class="form-control form-control-alternative" placeholder="First name">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Last name</label>
                    <input type="text" [(ngModel)]="lastName" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name">
                  </div>
                </div>
                <div class="col-lg-6" *ngIf="isWorker">
                  <div class="form-group">
                    <label class="form-control-label" for="input-dateentered">Date Entered</label>
                    <input type="text" [(ngModel)]="dateEntered" id="input-dateentered" class="form-control form-control-alternative" placeholder="(DD/MM/YYYY)">
                  </div>
                </div>
                <div class="col-lg-6" *ngIf="isWorker">
                  <div class="form-group">
                    <label class="form-control-label" for="input-datebirth">DateBirth</label>
                    <input type="text" [(ngModel)]="dateBirth" id="input-datebirth" class="form-control form-control-alternative" placeholder="(DD/MM/YYYY)">
                  </div>
                </div>
                <div class="col-lg-6" *ngIf="isWorker">
                  <div class="form-group">
                    <label class="form-control-label" for="input-role">Role</label>
                    <input type="text" [(ngModel)]="role" id="input-role" class="form-control form-control-alternative" placeholder="Role">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input id="input-address" [(ngModel)]="address" class="form-control form-control-alternative" placeholder="Home Address" value="Address" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Phone</label>
                    <input type="text" [(ngModel)]="phone" id="input-city" class="form-control form-control-alternative" placeholder="Phone">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email</label>
                    <input type="email" [(ngModel)]="email" id="input-email" class="form-control form-control-alternative" placeholder="Email">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
